https://open.spotify.com/track/4SwXtg8jDejWX18zLsZwCO?si=8c29a8691be54cfd
this will not be picked up because regex magic
  neither will this
https://open.spotify.com/track/4UVsqRoSys14kMLBfpJDTQ?si=55a61bf5a4434313
https://open.spotify.com/track/1QPV3QoWw3rRKPeYoX8kO8?si=e94749682c4b4783
https://open.spotify.com/track/3go5iX7Ad1IqlBXrIzYexX?si=a3d49c7dac4047bb
https://open.spotify.com/track/1ISSgsyLmSguaJSM3pnPGk?si=e592def8d9ab4cd7
https://open.spotify.com/track/72gPDy1zVt95zVNali0IhK?si=019960f3c4184850
  this will not be picked up
https://open.spotify.com/track/6pqyZNnLKyJKtrlf42FQoq?si=b44e3db04e0d46fd
https://open.spotify.com/track/3czfvJgfEDfBT5OKA5qAU5?si=b11eb591b4894c0c
https://open.spotify.com/track/75QBAkEqI7PIRKIXdI5fWE?si=609a43b9fa054c4f
https://open.spotify.com/track/0FGeJSm4Iix7OdvjvENrwx?si=33a11f24494c486a
https://open.spotify.com/track/4IOxk5ep5ONrdlL0ZIy64v?si=5146ac0c933c4107
https://open.spotify.com/track/6zqZfHvp3f9r4AF6G7Nhgl?si=f2a542fcad7f4262
https://open.spotify.com/track/3OrWcKf5zbAJV7wiVfD9Ma?si=ded218ba0e754f85
https://open.spotify.com/track/3lsGSsT7qt3XLnnkEEPlFe?si=e7b100f3770645ab
        other random text
https://open.spotify.com/track/1uYgNXNnBTQnboOwlYBLd1?si=b95ced8f09fe4596
https://open.spotify.com/track/0xzI1KAr0Yd9tv8jlIk3sn?si=13677421a43142bd
https://open.spotify.com/track/5xwBIieMMFUmLDgvG4DjFe?si=b87d31ea84af4b8b
https://open.spotify.com/track/0Me6SI6hgowLrZAKvtyVOg?si=3d58b9f2427846b3
https://open.spotify.com/track/7uhvf8LckR9OYmmiJ53wJW?si=7cc4a165aeee49c3
https://open.spotify.com/track/1k68vKHNQXU5CHqcM7Yp7N?si=484119e28ad54491
extraneous text can also go at the start of lines: https://open.spotify.com/track/0T6J3Ipbe06lm7p3grH2bg?si=b6bdd3f3733940e5
